@import url('https://fonts.googleapis.com/css?family=Farsan|Lobster|Nunito|Pacifico|Shadows+Into+Light|VT323');

@-webkit-keyframes animatedBackground {
    0%{background-color:#CC09EE;} 33%{background-color:#87244C;} 
    66%{background-color:#6AFAA9;} 100%{background-color:#CC09EE;}
}
@-moz-keyframes animatedBackground {
    0%{background-color:#CC09EE;} 33%{background-color:#87244C;}
    66%{background-color:#6AFAA9;} 100%{background-color:#CC09EE;}
}
@keyframes animatedBackground { 
    0%{background-color:#CC09EE;} 33%{background-color:#87244C;}
    66%{background-color:#6AFAA9;} 100%{background-color:#CC09EE;}
}
/* -webkit-animation: animatedBackground 10s ease infinite;
-moz-animation: animatedBackground 10s ease infinite;
animation: animatedBackground 10s ease infinite; */

@-webkit-keyframes animatedColor {
    0%{color:#CC09EE;} 33%{color:#87244C;}
    66%{color:#6AFAA9;} 100%{color:#CC09EE;}
}
@-moz-keyframes animatedColor {
    0%{color:#CC09EE;} 33%{color:#87244C;}
    66%{color:#6AFAA9;} 100%{color:#CC09EE;}
}
@keyframes animatedColor { 
    0%{color:#CC09EE;} 33%{color:#87244C;}
    66%{color:#6AFAA9;} 100%{color:#CC09EE;}
}
/* -webkit-animation: animatedColor 10s ease infinite;
-moz-animation: animatedColor 10s ease infinite;
animation: animatedColor 10s ease infinite; */

@-webkit-keyframes animatedBorder {
    0%{border-color:#CC09EE;} 33%{border-color:#87244C;}
    66%{border-color:#6AFAA9;} 100%{border-color:#CC09EE;}
}
@-moz-keyframes animatedBorder {
    0%{border-color:#CC09EE;} 33%{border-color:#87244C;}
    66%{border-color:#6AFAA9;} 100%{border-color:#CC09EE;}
}
@keyframes animatedBorder { 
    0%{border-color:#CC09EE;} 33%{border-color:#87244C;}
    66%{border-color:#6AFAA9;} 100%{border-color:#CC09EE;}
}
/* -webkit-animation: animatedBorder 10s ease infinite;
-moz-animation: animatedBorder 10s ease infinite;
animation: animatedBorder 10s ease infinite; */

html, body {font-family: 'Farsan', cursive; color: #250b18;}
svg.svbg { display: none; }
main {padding:20px 20px 0; text-align:center; width: 90%; margin: auto;}
section {overflow: hidden;}
header {text-align: center; padding: 80px 0px; color: #fff; position: relative; text-shadow: 1px 1px 4px #676767, 0 0 0 #000, -1px -1px 4px #1d1d1d;}
header h1{font-size: 5em; vertical-align: middle; color: #fff; font-weight: bold;}
header span {font-size: 2em; font-family: 'Shadows Into Light', cursive; font-weight: bold;}
#lang {opacity: .5; color: #fff;}
#lang:hover {opacity: 1;}

h2.sectionTitle{font-weight:bold; text-align:center; margin:40px 0 20px; color:#494949; text-transform: lowercase; font-size: 2em; color: #fff; background-color: #87244C; padding: 0px 50px; display: inline-block; position: relative; line-height: 56px; height: 50px; text-shadow: 1px 1px 4px #676767, 0 0 0 #000, -1px -1px 4px #1d1d1d;}
h2.sectionTitle:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 50px solid transparent;
    width: 0;
}
h2.sectionTitle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 50px solid white;
    border-right: 50px solid transparent;
    width: 0;
}

h3.sectionSubtitle {text-align: center; color: #87244C; font-weight: normal; font-family: 'Shadows Into Light', cursive; font-size: 1.5em; margin: 10px 0; text-shadow: 1px 1px 0px #929292;
-webkit-animation: animatedColor 10s ease infinite;
-moz-animation: animatedColor 10s ease infinite;
animation: animatedColor 10s ease infinite;}
h4 {margin-top: 0;  font-weight: normal;}
#projetos {background: rgba(255, 255, 255, 0.72); width: 190px; padding: 30px; margin: 80px auto;}
a {color: #87244C;}
a#lang {position: absolute; top: 10px; right: 10px;}
#sumary {font-size: 1.25em;}
.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #fff;
}
.socialIcons {position: absolute; bottom: 10px; width: 100%;}
.socialIcons .social-icon {opacity: .6; margin: 0 5px;}
.socialIcons .social-icon:hover {opacity: 1;}

/* timeline */
.timeline {
  position: relative;
  overflow: auto;
 }
  
 .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #6AFAA9;
    left: 0;
  }
 .timeline h2.title {background: #fff; font-size: 1.3em; border: 1px solid #6AFAA9; padding: 10px 5px 5px; color: #5ab984; font-weight: normal; 
  -webkit-animation: animatedBorder 10s ease infinite;
-moz-animation: animatedBorder 10s ease infinite;
animation: animatedBorder 10s ease infinite;}  
 .timeline h2 {
    background: #6AFAA9;
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    position: relative;
    clear: both;
  }
  
.timeline ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
  }
  
.timeline li {
    background: #87244C;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}

.timeline li:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 1em solid #87244C;
      border-left: 1em solid transparent;
      position: absolute;
      left: -8px;
      top: 0;
}

svg.timeline-icon {
    width: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
    fill: #54042c;
}
  
.timeline h3 {
    margin-top: 0;
  }

.timeline time {
    font-style: italic;
  }
.timeline li h3 {font-weight: bold; color: #fff; text-transform: uppercase; font-size: 1.05em;}
.timeline li h4 {color: #fff; margin-bottom: 5px}
.timeline li p {}
.timeline li time {
      color: #e786f9;
    font-weight: bold;
    margin: 10px -8px -8px;
    font-size: .9em;
    border: 1px solid;
    padding: 8px 5px 5px;
    display: block;
}
.timeline li.active time {border-color: #CC09EE;}

ul.skills, ul.know {padding: 10px;}
ul.skills li, ul.know li {
  padding: 5px 10px; 
  display: inline-block; 
  margin: 0 10px 10px 0; 
  font-weight: bold;
}
ul.skills li {background: #CC09EE;  color: #fff; }
ul.know li {border: 1px solid #CC09EE; color: #CC09EE;}


.shapped {
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}

#projects .projects {margin-top: 20px;}
.projects li {
  margin: 3px auto;
  position: relative;
  overflow: hidden;
  padding: 1px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  background-color: #6AFAA9;
}
#projects .projects li {
    width: 28%;
    display: inline-block;
    margin-left: -5.3%;
}
#projects .projects li:nth-child(4n-7) {margin-left: 0;}

.projects li a{
  height: 200px;
  width: 100%;
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  background: url(../images/projects/placeholder.png) top center;
  background-size: cover;
  display: inline-block;
}

.projects li a{
  position: relative;
  -webkit-filter: contrast(115%) brightness(99%) saturate(130%);
  filter: contrast(115%) brightness(99%) saturate(130%);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.projects li a::before {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: -webkit-linear-gradient(to bottom right, rgba(203, 62, 253, 0.5) 0, rgba(10, 202, 147, 0.56));
  background: linear-gradient(to bottom right, rgba(203, 62, 253, 0.5) 0, rgba(10, 202, 147, 0.56));
}
.projects li:hover a {filter:none; -webkit-filter:none; transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;}
.projects li:hover a::before {transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;opacity: 0; background-color: transparent; }

.projects li a span {
  background: #4cd487; line-height: 200px; padding: 8px 20px 5px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  color: #fff;
}

#about .projects li:nth-child(odd) a span, #about .projects li:nth-child(even) a,#about .projects li:nth-child(even), #projects .projects li.invert, #projects .projects li.invert a{
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}
#contact {
  -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}
#contact h2{font-weight:bold; text-align:center; margin:40px 0 20px; color:#494949; text-transform: lowercase; font-size: 3em; color: #fff; padding: 0px 50px; display: inline-block; position: relative; line-height: 56px; height: 50px; text-shadow: 1px 1px 4px #676767, 0 0 0 #000, -1px -1px 4px #1d1d1d;}

#contact .row {width: 60%; margin:0 auto 30px;}
#contact input, #contact textarea {
  display: block; 
  border:none; 
  width: 100%; 
  padding: 10px;
  text-align: center;
}
#contact input {margin-bottom: 5px; -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);}
#contact input:nth-child(even), #contact textarea {
  -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}
#contact textarea {height: 100px; }
.footer-info a {font-size:1.3em; display: block; margin: 0 20px 10px; line-height: 20px; color: #fff; font-weight: bold; text-shadow: 2px 2px 2px #560654;}
.footer-info svg, .footer-si svg {text-shadow: 2px 2px 2px #560654;}
.footer-info span {margin-top: -6px; display: inline-block;}
.footer-info a:nth-child(2) span {margin-left: 4px;}
.skypeLink {
    overflow: hidden;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.skypeLink img {margin: 0 !important;vertical-align: 4px !important;}
@media screen and (min-width: 40em) {

    .timeline:before {
      left: 50%;
    }
    
    .timeline ul {
      padding-left: 0;
      max-width: 700px;
      margin: 0 auto;
    }
    
    .timeline li {
      width: 42%;
    }
    
    .timeline li:nth-child(even) {
      float: right;
      margin-top: 2em;
    }

    .timeline li:nth-child(odd) svg.timeline-icon {right: unset; left:5px;}
    
    .timeline li:nth-child(odd) {
      float: left;
     }
    .timeline li:nth-child(odd):before {
        border-top: 1em solid #87244C;
        border-right: 1em solid transparent;
        right: -8px;
        left: auto;
      }
    
    .timeline li:nth-of-type(2n+1) {
      clear: both;
    }

    
}

@media only screen and (max-width: 40em) { 
  .timeline h2 {margin: 0 0 1em;}
  .projects li, #projects .projects li {
    width: 100%;
    display: inline-block;
    margin-left: 0;
  }
  #projects .projects li.invert,#projects .projects li.invert a {
    -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  }
  #projects .projects li:nth-child(even), #projects .projects li:nth-child(even) a{
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%); }
  #contact .row {width: 80%;}
  .footer-info svg {display: block; margin: 5px auto 15px;}
  #contact .footer-si {width: 35%; margin: 20px auto 0;}
}

